
.containerimagen {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.containerimagen img {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}



.default-header-color img{
 height: 220px;
 margin-bottom: 20px;
 width: 2057px;
 margin-top: -40px;
 margin-left: -163px;

}



.logo img{
 position: absolute;
 height: auto;
 width: 500px;
 object-position:50% 50%;
 margin-top: -260px;
 margin-left: 750px;

}
.lhorizontal {
 list-style-type: none;
 display: flex; /* Utilizamos flexbox para alinear los elementos en una línea */
 list-style-type: none; /* Quitamos los puntos de la lista */
 padding: 0; /* Quitamos el relleno por defecto de la lista */

 }

.ehome {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #ff0000;
 text-decoration: none;
}

li {
 margin-right: 40px; /* Agregamos un margen derecho entre los elementos para dar espacio */
}

.header-links{
 position: absolute;
 margin-top:-96px;
 margin-left: -9px;
 margin-right: -45px;
 padding: 5px;

 text-decoration: none;
}
.lhorizontal {
 outline: 2px solid rgba(255, 255, 255, 0.5); /* establece el borde horizontal */

 /*border-top: 2px solid rgba(255, 255, 255, 0.5);
 border-bottom: 2px solid rgba(255, 255, 255, 0.5);
 border-left: 2px solid rgba(255, 255, 255, 0.5); /* estilo de borde en la izquierda */
 /*border-right: 2px solid rgba(255, 255, 255, 0.5); /* estilo de borde en la derecha */
 padding-left: 740px;
 padding-right: 567px;
 padding-top: -0px; /* ajusta el espacio superior */
 padding-bottom: -0px; /* ajusta el espacio inferior */
 font-size: 25px; /* Tamaño de fuente deseado */
 color: #white; /* Color de texto deseado */

}

.header-links:hover{
 color:wheat; /*no va */
}

.laterali img{
 height: 3000px;
 width: 17%;
 max-width: 17%;
 position: absolute;
 margin-top: -25px;
 margin-left: -10px;
}

.laterald img{
 height: 3000px;
 width: 335px;
 position: absolute;
 margin-top: -1292px;
 margin-left: 1215px;
}


.intro{
 color:black;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
 font-weight: bolder;
}

.title{
 text-align: center;
}





#titleimg{
 width: 1000px;
}


.newstitle{
 position: absolute;
 color:rgb(246, 246, 246);
 margin-right: 20%;
 margin-left: 19%;
 font-size: 30px;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.newstitlemario{
  position: absolute;
  color: #000000;
  margin-top: 4%;
  margin-right: 20%;
  margin-left: 25%;
  font-size: 30px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 }










.mandalorian img {

 width: 1170px;
 height: 200px;
 padding-left: 2432px;
 padding-right: 10px;
 margin: 0 -1500px;
 text-align: center;
 margin-left:-110%;
 }

.bodytext{
 font-size: 9px;
 text-align: justify;
 margin-left: 345px;
 margin-right: 355px;
 margin-top: 4%;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: rgb(0, 0, 0);
}

.mandoimg img {
float : right;
width: 500px;
height: auto;
margin-left: 30px;
margin-top: 5px;
object-position: right;
}


table {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

td, th {
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}

tr:nth-child(even) {
 background-color: black;
}
/* Estilos para el footer */
footer {

 color: #fff;
 padding: 0px 0;
}

.container {
  margin-top: -65px;
  background-color: #5e63a3;
  margin-left: 310px;
  margin-right: 315px;
}
.row {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;

}


.row {
  margin-left: 10px;
}

h3 {
 font-size: 18px;
 font-weight: bold;
}

p {
 font-size: 16px;
}

ul {
 list-style-type: none;
 padding: 0;
}

ul li {
 margin-bottom: 10px;
}

ul li a {
 color: #fff;
 text-decoration: none;
}

ul li a:hover {
 text-decoration: underline;
}

.fa {
 margin-right: 5px;
}

.text-center {
 text-align: center;
}

.fa-instagram {
 weight: 50px;
 height: 50px;

}
.fa-twitter {
 weight: 50px;
 height: 50px;

}



.commentinput {

  margin-left: 10px;

}

.cajadecomentarios{
    float :right;
    text-align:center;

}


.commentinput #comment-box, #nombre, #texto{
    border: none;
    border-radius: 20px;
    width: 1000px;
    height: 200px;


    margin-right: 100px;
    margin-top: 50px;



}
.commentinput #nombre{
  margin-top: 10px;
  border-radius: 10px; /* botón con bordes redondeados de 5 píxeles */
  box-shadow: 2px 2px 4px #888888; /* sombra de 2 píxeles hacia la derecha, 2 píxeles hacia abajo, 4 píxeles de difuminado y color gris oscuro */

}
.commentinput #comment-box {

  background-color: #e6e6e6; /* color verde */
  color: black; /* texto en color blanco */
  font-size: 16px; /* tamaño de letra de 16 píxeles */
  padding: 10px 20px; /* espaciado de 10 píxeles arriba y abajo, y 20 píxeles a la izquierda y derecha */

  border-radius: 10px; /* botón con bordes redondeados de 5 píxeles */
  box-shadow: 2px 2px 4px #888888; /* sombra de 2 píxeles hacia la derecha, 2 píxeles hacia abajo, 4 píxeles de difuminado y color gris oscuro */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


.commentinput  #posting{
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 50px;

  margin-right: 500px;
  margin-top: 50px;
  background-color: red /* color verde */
  color: red; /* texto en color blanco */
  font-size: 16px; /* tamaño de letra de 16 píxeles */
  padding: 10px 20px; /* espaciado de 10 píxeles arriba y abajo, y 20 píxeles a la izquierda y derecha */
  border-radius: 5px; /* botón con bordes redondeados de 5 píxeles */
  box-shadow: 3px 3px 4px #888888; /* sombra de 2 píxeles hacia la derecha, 2 píxeles hacia abajo, 4 píxeles de difuminado y color gris oscuro */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.commentinput #nombre{
    width: 200px;
    height: 50px;
    padding-left: 20px;
    border-radius: 10px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.commentinput #texto{
    color: rgb(17, 17, 17);
    margin-bottom: -150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

/*
#post:hover{
    background-color: deeppink;
}
.comments{
    color:white;
}
  */

.registerandlogin {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
  }

  .registerandlogin input[type=button] {
    border: none;
    color: rgb(210, 26, 26);
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #login {
    margin-right: 5px;
    margin-top: 38px;
  }


  .printcom {
    padding-left: 20px;
    padding-top: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    
  }








  #output-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
}







/*Zelda CSS */




iframe[Estilo de atributos] {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 100%;
    width: 100%;
}

iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}




.default-header-color img{
 height: 220px;
 margin-bottom: 20px;
 width: 2057px;
 margin-top: -40px;
 margin-left: -163px;

}



.logo img{
 position: absolute;
 height: auto;
 width: 500px;
 object-position:50% 50%;
 margin-top: -260px;
 margin-left: 750px;

}
.lhorizontal {
 list-style-type: none;
 display: flex; /* Utilizamos flexbox para alinear los elementos en una línea */
 list-style-type: none; /* Quitamos los puntos de la lista */
 padding: 0; /* Quitamos el relleno por defecto de la lista */

 }

.ehome {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #ff0000;
 text-decoration: none;
}

li {
 margin-right: 40px; /* Agregamos un margen derecho entre los elementos para dar espacio */
}

.header-links{
 position: absolute;
 margin-top:-96px;
 margin-left: -9px;
 margin-right: -45px;
 padding: 5px;

 text-decoration: none;
}
.lhorizontal {
 outline: 2px solid rgba(255, 255, 255, 0.5); /* establece el borde horizontal */

 /*border-top: 2px solid rgba(255, 255, 255, 0.5);
 border-bottom: 2px solid rgba(255, 255, 255, 0.5);
 border-left: 2px solid rgba(255, 255, 255, 0.5); /* estilo de borde en la izquierda */
 /*border-right: 2px solid rgba(255, 255, 255, 0.5); /* estilo de borde en la derecha */
 padding-left: 740px;
 padding-right: 567px;
 padding-top: -0px; /* ajusta el espacio superior */
 padding-bottom: -0px; /* ajusta el espacio inferior */
 font-size: 25px; /* Tamaño de fuente deseado */
 color: #white; /* Color de texto deseado */

}

.header-links:hover{
 color:wheat; /*no va */
}

.laterali img{
 height: 3200px;
 width: 17%;
 max-width: 17%;
 position: absolute;
 margin-top: -25px;
 margin-left: -10px;
}

.laterald img{
 height: 3200px;
 width: 335px;
 position: absolute;
 
 margin-left: 1215px;
 
}


.lateralizelda img{
  height: 9995px;
  width: 17%;
  max-width: 17%;
  position: absolute;
  margin-top: -25px;
  margin-left: -10px;
 }
 
 .lateraldzelda img{
  height: 10015px;
  width: 335px;
  position: absolute;
  margin-top: -7895px;
  margin-left: 1215px;
 }
 



 .lateralimario img{
  height: 10000px;
  width: 17%;
  max-width: 17%;
  position: absolute;
  margin-top: -25px;
  margin-left: -10px;
 }
 
 .lateraldmario img{
  height: 1000px;
  width: 335px;
  position: absolute;
  margin-top: -7910px;
  margin-left: 1215px;
 }
 








.intro{
 color:black;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
 font-weight: bolder;
}

.title{
 text-align: center;
}






body{
 background-image: url("./img/fondo.png");
 background-color: #5e63a3;


}

#titleimg{
 width: 1000px;
}


.newstitle{
 position: absolute;
 color: #F20AD6 ;
 margin-top: 4%;
 margin-right: 20%;
 margin-left: 22%;
 font-size: 30px;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.indice {
  font-size: 30px;
  margin-bottom: 5px;
}
.indicecontenido{
  margin-left: 5px;
  font-size: 15px;
  color: white;
}
.historia {
  font-size: 35px;
}
.impa {
  margin-top: 20px;
}
.hist {
  font-size: 30px;
  margin-top: 20px;
}
.masalla {
  margin-top: 20px;
}

.indicecontenido * {
  background-color: white;
}

.secundaria img{
  float : right;
  width: 500px;
  height: auto;
  margin-left: 30px;
  margin-top: 5px;
  object-position: right;
}


.img64 img{
  float : right;
  width: 50px;
  height: auto;
  margin-left: 30px;
  margin-top: 0px;
  object-position: right;
}

.final img{
  width: 900px;
  height: 500px;
  margin-left: 125px;
  margin-top: 40px;
}











.controles {
  margin-left: 200px;
}
.ataque {
  font-size: 30px;
  margin-bottom: -30px;
}
.espada {
  margin-left: 20px;
}
.bosque {
  margin-left: 180px;
}
.estatua img{
  float : right;
  width: 500px;
  height: auto;
  margin-left: 30px;
  margin-top: 5px;
  object-position: right;
}

.sigilo {
  font-size: 30px;
  margin-bottom: -0px;
}
.listacon li{
  padding: 10px;
  list-style-type: disc;
}
.denfensa {
 font-size: 30px;
 margin-bottom: 0px;
}
.mandalorian img {

 width: 1170px;
 height: 200px;
 padding-left: 2432px;
 padding-right: 10px;
 margin: 0 -1500px;
 text-align: center;
 margin-left:-110%;

 }




.mandoimg img {
float : right;
width: 500px;
height: auto;
margin-left: 30px;
margin-top: 5px;
object-position: right;
}

.newsletter{
 text-align: center;

}
table {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

td, th {
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}

tr:nth-child(even) {
 background-color: black;
}
/* Estilos para el footer */
footer {

 color: #fff;
 padding: 0px 0;
}


.row {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;

}

.col-md-4 {
 flex-basis: calc(33.3333% - 0px);
 padding-left: -300px;
 padding-top: 200px;

}

.row {
  margin-left: 10px;
}

h3 {
 font-size: 18px;
 font-weight: bold;
}

p {
 font-size: 16px;
}

ul {
 list-style-type: none;
 padding: 0;
}

ul li {
 margin-bottom: 10px;
}

ul li a {
 color: #fff;
 text-decoration: none;
}

ul li a:hover {
 text-decoration: underline;
}

.fa {
 margin-right: 5px;
}

.text-center {
 text-align: center;
}

.fa-instagram {
 weight: 50px;
 height: 50px;

}
.fa-twitter {
 weight: 50px;
 height: 50px;

}



.commentinput {

  margin-left: 10px;

}

.cajadecomentarios{
    float :right;
    text-align:center;

}


.commentinput #comment-box, #nombre, #texto{
    border: none;
    border-radius: 20px;
    width: 1000px;
    height: 200px;

    margin-right: 100px;
    margin-top: 50px;



}
.commentinput #nombre{
  margin-top: 10px;
  border-radius: 10px; /* botón con bordes redondeados de 5 píxeles */
  box-shadow: 2px 2px 4px #888888; /* sombra de 2 píxeles hacia la derecha, 2 píxeles hacia abajo, 4 píxeles de difuminado y color gris oscuro */

}
.commentinput #comment-box {

  background-color: #e6e6e6; /* color verde */
  color: black; /* texto en color blanco */
  font-size: 16px; /* tamaño de letra de 16 píxeles */
  padding: 10px 20px; /* espaciado de 10 píxeles arriba y abajo, y 20 píxeles a la izquierda y derecha */

  border-radius: 10px; /* botón con bordes redondeados de 5 píxeles */
  box-shadow: 2px 2px 4px #888888; /* sombra de 2 píxeles hacia la derecha, 2 píxeles hacia abajo, 4 píxeles de difuminado y color gris oscuro */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


.commentinput  #posting{
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 50px;

  margin-right: 500px;
  margin-top: 50px;
  background-color: red /* color verde */
  color: red; /* texto en color blanco */
  font-size: 16px; /* tamaño de letra de 16 píxeles */
  padding: 10px 20px; /* espaciado de 10 píxeles arriba y abajo, y 20 píxeles a la izquierda y derecha */
  border-radius: 5px; /* botón con bordes redondeados de 5 píxeles */
  box-shadow: 3px 3px 4px #888888; /* sombra de 2 píxeles hacia la derecha, 2 píxeles hacia abajo, 4 píxeles de difuminado y color gris oscuro */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.commentinput #nombre{
    width: 200px;
    height: 50px;
    padding-left: 20px;
    border-radius: 10px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/*
#post:hover{
    background-color: deeppink;
}
.comments{
    color:white;
}
  */

.registerandlogin {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
  }

  .registerandlogin input[type=button] {
    border: none;
    color: rgb(210, 26, 26);
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #login {
    margin-right: 5px;
    margin-top: 38px;
  }






